html,body{
	height: 100%;

}
*{
	box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a{
	color: inherit;
	/*display: inline-block;*/
	width: 100%;
	text-decoration: none;
}
ul li{
	list-style: none;
}
 
