.row {
    max-width: 100%;
}

.data-tabs .is-active a {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FC3B26;
    line-height: 18px;
}

.data-tabs .is-active span {
    // border-bottom: 2px solid #FC3B26;
    padding-bottom: 10px;
}

.data-tabs a {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 18px;
}

.data-tabs span {
    border-bottom: none;
    padding-bottom: 10px;
}

hr {
    max-width: 100%;
}

.tab-hr {
    margin-top: -7px;
}

.left-bar {
    border-right: 1px solid #eee;
}

.portrait-sec {
    border-bottom: 1px solid #eee;
}

.content-bar {
    margin-top: 2rem;
}

.cus-tabs {
    margin: 0 auto;
    border: none;
}

.cus-tabs-content {
    margin: 0 auto;
    border: none;
}

.tab-hr {
    margin-top: .45rem;
}

.cus-tabs .tabs-title>a {
    // padding: .25rem 1.5rem;
    background-color: #fff;
    font-size: 18px;
    color: #999;
    padding: .25rem 0;
    margin-right: 3rem;
    font-weight: 600;
}

.cus-tabs .is-active>a {
    position: relative;
    color: #FC3B26;

}

.cus-tabs .is-active>a:after {
    position: absolute;
    top: 2rem;
    left: 0;
    content: "";
    width: 6rem;
    height: 2px;
    background-color: #FC3B26;
}


