.modal-title span{
	color: #666666;
	border-bottom: 2px solid rgb(245,245,245);
	padding-bottom: .5rem;
}
.modal-title-little{
	margin-top: 1.5rem;
	margin-bottom: .8rem;
}
.apply-modal{
	border-radius: 0.8rem;
	
}
.apply-modal hr{
	margin: 0;
	margin-top: -2px;
}
.modal-title-little ul{
	/*border-bottom: 2px solid #666666;*/
}
.modal-title-little li{
	padding-bottom: .5rem;
	border-bottom: 2px solid #666666;
}
.modal-title-little .active{
	color: red;
	border-bottom: 2px solid red;
}

@media screen and (max-width: 350px) {
    form .span {
        font-size: 10px;
    }
    
}

