.top-bar-right .menu>li>a {
    padding: .6rem 0rem .7rem 1.625rem;
}

.top-bar .sign-up {
    width: auto;
}

.apply-box-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 4rem;
}

.apply-box-section>.row {
    max-width: 100%;
}

.apply-box {
    position: relative;
    padding: 20px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, .9);
}

.apply-box h5 {
    font-size: 1rem;
}

.data-left {
    float: left;
    margin-top: 1.5rem;
    width: 50%;
    overflow: hidden;
}

.data-left p {
    font-size: 12px;
    color: #666;
}

.data-left .try {
    margin-bottom: 1rem;
}

.data-right {
    float: right;
    margin-top: 1.5rem;
    width: 50%;
    overflow: hidden;
}

.data-right .num {
    margin-bottom: 0;
    color: #FC3B26;
    font-size: 21px;
}

.data-right .apply-num {
    font-size: 12px;
    color: #666;
}

.stop-data {
    clear: both;
    padding: 0 1rem 1rem 1rem;
    margin-top: 2rem;
    color: #666;
    font-size: 12px;
}

.stop-data .stop-num {
    padding: 0 .3rem;
    color: #FC3B26;
    font-size: 1rem;
}

.apply-btn {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.apply-btn a {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.ap-btn1 {
    background-color: #FC3B26;
}

.ap-btn2 {
    background-color: #333;
}

.cus-tabs {
    margin: 0 auto;
    border: none;
}

.cus-tabs-content {
    margin: 0 auto;
    border: none;
}

.tab-hr {
    margin-top: .45rem;
}

.cus-tabs .tabs-title>a {
    // padding: .25rem 1.5rem;
    background-color: #fff;
    font-size: 18px;
    color: #999;
    padding: .25rem 0;
    margin-right: 3rem;
    font-weight: 600;
}

.cus-tabs .is-active>a {
    position: relative;
    color: #FC3B26;

}

.cus-tabs .is-active>a:after {
    position: absolute;
    top: 2rem;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FC3B26;
}

#applyModal {
    max-height: auto;
    max-width: 600px;
    border-radius: 4px;
    padding: 1.5rem 2rem;
}

.modal-title h5 {
    font-size: 14px;
}

@media screen and (max-width: 63.9375em) {
    .apply-box-section {
        position: relative;
        padding: 0;
    }
    .apply-box {
        max-width: 100%;
        z-index: 2;
    }
}


/************detail***********/

.apply-detail-list {
    margin-top: 3rem;
}

.apply-detail-list h5 {
    margin-top: 1rem;
    font-size: 14px;
    color: #666;
}

.apply-detail-list p {
    font-size: 12px;
    color: #999;
}

.apply-aside .hot-event img {
    widows: 100%;
    height: 200px;
}

.apply-aside .hot-event p {
    font-size: 12px;
    color: #666;
}

.apply-aside .aside-ad img {
    height: 130px;
}

.share-icon li {
    display: inline-block;
    margin-right: 1rem;
}

@media screen and (max-width: 40em) {
    .share-icon li {
        margin-right: 0;
    }
}

.call-list .column {
    margin-bottom: 2rem;
}

.call-list img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.call-list span {
    font-size: 16px;
    color: #666;
}

#buyModal {
    /*max-width: 30rem;*/
    padding: 1rem 2rem;
}

.buy-modal .modal-title {
    color: #666;
}

.buy-modal img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.buy-modal span {
    font-size: 16px;
    color: #666;
    max-width: 2rem;
    overflow: hidden;
}

.buy-modal .column {
    margin-bottom: 2rem;
}

.buy-modal .buy-modal-contents {
    max-height: 300px;
    overflow: auto;
}

.buy-modal .submit-btn {
    margin-bottom: 0;
}


/*****rep*****/

.apply-rep a {
    margin-top: 2rem;
}


@media screen and (max-width: 40em) {
   .cus-tabs .tabs-title>a {
        margin-right: 1rem;
        font-size: 12px;
    } 

    .cus-tabs .is-active>a:after {
        top: 1.6rem;
    }
}